/* Adds style to body */
body {
    justify-content: center;
    text-align: center;  
    border: 1px solid rgb(91, 8, 233);
    background-color: rgb(171, 229, 241);
    font-family: "Press Start 2P", sans-serif;
}

/* Add style to Pokemon container */
.pokemon-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    border: 2px solid rgb(25, 25, 25); /* Add a border to the list container */
}

/* Removes any default syles */
.pokemon-list li {
    list-style-type: none;
}

/* Adds style to Pokemon cards */
.pokemon-card {
    padding: 10px;
    background-color: rgb(242, 190, 126);
    border: 2px solid rgb(25, 25, 25);
    border-radius: 15px;
    box-shadow: 7px 7px 0px rgb(231, 103, 103);
    margin: 5px;
    width: 150px;
    text-transform: capitalize; 
}

/* Shows hover pointer */
.pokemon-card:hover {
    cursor: pointer;
    color: rgb(126, 11, 227);
}

/*  Adds background color when clicked */
.pokemon-card:active {
    background-color: rgb(63, 63, 109);
}