/* Adds style to body */
body {
    justify-content: center;
    text-align: center;  
    border: 1px solid rgb(91, 8, 233);
    background-color: rgb(171, 229, 241);
    font-family: "Press Start 2P", sans-serif;
}

/* Add style to Pokemon container */
.pokemon-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    border: 2px solid rgb(25, 25, 25); /* Add a border to the list container */
}

/* Removes any default syles */
.pokemon-list li {
    list-style-type: none;
}

/* Adds style to Pokemon cards */
.pokemon-card {
    padding: 10px;
    background-color: rgb(242, 190, 126);
    border: 2px solid rgb(25, 25, 25);
    border-radius: 15px;
    box-shadow: 7px 7px 0px rgb(231, 103, 103);
    margin: 5px;
    width: 150px;
    text-transform: capitalize; 
}

/* Shows hover pointer */
.pokemon-card:hover {
    cursor: pointer;
    color: rgb(126, 11, 227);
}

/*  Adds background color when clicked */
.pokemon-card:active {
    background-color: rgb(63, 63, 109);
}
html, 
body {
  font-family: Arial, sans-serif;
}
css
#modal-container {
  display: none;
}

#modal-container.is-visible {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);

  /* to show it above other content */
  z-index: 999; 

  /* to allow scrolling if the screen is not high enough*/
  overflow: auto; 

  /* this is used to center the modal */
  display: grid;
  text-align: center;
}

.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: #f5b7b7;
  padding: 15px;
  width: 100%;
  max-width: 700px;
  text-align: left;
}

.modal-close {
  float: right;
  border: 0;
  background: none;
  color: #5e5a5a;
  text-decoration: underline;
}

.modal h1 {
  margin-top: 0;
}

.modal p {
  margin-bottom: 0;
  text-align: center;
}

#modal-container {
    display: none;
}

#modal-container.is-visible {
    display: block;
 
}